:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url("set-tracker.jpg");
  background-size: cover;
  background-repeat: none;
}

.zalando-sans-semiexpanded-heading {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bold;
}

.josefin-sans-label {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}  
.sansation-regular-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
#layout{
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: auto;
    height: fit-content;
    /* backdrop-filter: brightness(50%); */
}
#input{
    display:grid;
    grid-template-columns: auto 1fr;
    row-gap: 20px;
    grid-template-rows: repeat(6,auto-fit);
    column-gap: 20px;
}
#output{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
}
#output table{
    font-size: 1.3rem;
}
#divider{   
    /* hr */
    position: relative;
    left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.739) ;
}
#heading{
    font-size: 1.5rem;
    width: 100vw;
    height: 100px;
    background-color: rgba(36, 9, 62, 0.474);
    display: flex;
    align-items: center;
    justify-content: center;
}
#curve{
    display: block;
    width: 100%;
}
#heading h1{
    display: flex;
    justify-content: center;
}
#input label{
    display: inline-block;
    /* width: fit-content; */
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    backdrop-filter:blur(3px) brightness(90%);
    -webkit-backdrop-filter: blur(3px); /* For Safari support */
}
#input input{
    height: 70%;
    font-size: 1.2rem;
    border-radius: 10px;
    position: relative;
    top: 10%;
    grid-column: 2/4;
    /* min-width: 200px; */
    /* width:min-content; */
}
#input input:focus, select:focus, textarea:focus{
    outline-offset: 0px;
    outline: none;
    border: 2px solid rgba(145, 28, 255, 0.978); /* A blue border */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* A soft blue glow */
}
.enter-button{
    grid-area: 6/1/7/4;
}
.input-button, .enter-button{
    background-color: rgba(36, 9, 62, 0.474);
    height: 25px;
    color: white;
    border: 1px solid rgba(36, 9, 62, 0.474);
    border-radius: 10px;
    position: relative;
    top:30%;
    cursor: pointer;
}
#label-of-weight{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    column-gap: 20px;
}
#label-of-weight .input-box{
    width: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#label-of-weight label{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount-slider{
    opacity: 0;
    grid-area: 5/1/6/4;
    display: grid;
    position: relative;
    grid-template-columns: auto auto 1fr auto;
    column-gap: 20px;
    align-items: center;
    transition: opacity 1s ease;
}
.amount-slider.active{
    opacity: 100;
}
.amount-slider label{
    font-size: 1.2rem;
    width: 165px;
}
#add-button{
    grid-area: 1/4/2/5;
}
#reduce-button{
    grid-area: 1/2/2/3;
}
#slider{
    grid-column: 1/3/2/4;
    position: relative;
    /* margin-top: -5%; */
}
.rows{
    display: grid;
    grid-template-columns: 40px 220px 90px 90px 130px;
}
#output table{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    
}
td.serial, td.sets-table, td.reps-table,td.weights-table, td.name-table{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    position: relative;
}
#output tr{
    border-radius: 20px;
}
#output table:not(:first-child, :last-child){
    border: 1px solid white;
}
#output table:first-of-type{
    border-bottom: 1px solid white;
}
#output table tr:last-of-type{
    border-top: 1px solid white;
}
#output tbody tr:nth-of-type(odd){
    background-color: rgba(36, 9, 62, 0.474);
}
.active-row{
    display: ;
}
.done{
    grid-area: 2/3/3/4;
    place-self: center;
    transform: translateX(-100%);
    cursor: pointer;
}
.delete{
    grid-area: 2/3/3/4;
    place-self: center;
    transform: translateX(100%);
    cursor: pointer;
}
.my-checkbox{
    background-color: rgb(0,0,0,0);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 1s ease;
}
.my-checkbox.checked{
    background-color: rgb(0, 102, 255);
}
.checker-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
#end{
    display: flex;
    justify-content: center;
}
@media (max-width: 900px) {
    #layout{
        display: grid;
        grid-template-columns: auto;
        height: fit-content;
    }
    /* ADD THIS PART */
    #input {
        /* This stacks the label/input/button in a single column */
        grid-template-columns: 1fr; 
        row-gap: 10px; /* Tighter gap for mobile */
    }
    #divider{   
        /* hr */
        position: relative;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.739) ;
    }
    /* And this part */
    #input input {
        min-width: 0; /* Let the input shrink */
        width: 100%; /* Make the input fill the screen */
    }
    .enter-button {
        width: 100%; /* Make the button fill the screen */
        top: 0; /* Reset the 'top' positioning */
    }

    #label-of-weight {
        /* Stacks radio buttons vertically */
        grid-template-columns: auto;
        row-gap: 10px;
    }
}